.cardsList{
    list-style: none;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 33px 112px;
    margin: 53px 0 0 0;
    padding: 0;
}

.cardsList li{
    background: linear-gradient(90deg, #243b7a -30%, #72004c 180%);
    width: 100%;
    max-width: 320px;
    height: 150px;
    border-radius: 7px;
    padding: 0px 22px;
}

.cardsList li:hover {
    background: linear-gradient(70deg, #324680 -30%, #8f0018 180%);
}

.cardsList li h3{
    color: #4384f5;
    font-weight: bolder;
}

.cardsList li .cardControl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardControl .editIcon {
    height: 14px;
    width: 17px;
    cursor: pointer;
}

.cardControl .exitIcon {
    height: 18px;
    width: 18px;
    cursor: pointer;
    color: #f55943;
}

.cardsList li .cardControl div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    width: 20%;
}

.cardsList li p {
    margin: 0;
    font-size: 12px;
    color: #f5b343;
    font-weight: bolder;
}

.expirationLabel{
    margin-top: 9px !important;
    color: #def543 !important;
}

.cardsList li span {
    margin: 0;
    font-size: 15px;
}

form input {
    display: block;
    width: 100%;
    height: 45px;
    padding: 12px;
    margin: 4px 0 22px 0;
    color: #ffffff;
    background-color: #333333;
    border: none;
}

form select{
    display: block;
    width: 100%;
    height: 45px;
    padding: 12px;
    margin: 4px 0 22px 0;
    color: #ffffff;
    background-color: #333333;
    border: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 0.6; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
    opacity: 0.6; /* Firefox */
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff;
    opacity: 0.6; /* Firefox */
}

form{
    width: 33%;
}

form label{
    font-size: 12px;
}

form .errorMsg{
    color: #f54343;
    font-size: 15px;
}

form .formControl {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
    width: 100%;
}

.removeAlertBackDrop {
    position: absolute;
    background-color: #000000dd;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.removeAlert{
    display: flex;
    flex-direction: column;
    background-color: #333333;
    width: 33%;
    z-index: 3;
    padding: 5px;
}

.removeAlert h4{
    margin: 22px 0 12px 33px;
    font-size: 18px;
}

.removeAlert p{
    align-self: center;
    width: 86%;
    margin: 12px 0 33px 0;
}

.removeAlert span{
    color: #4384f5;
    font-weight: bold;
}

.alertControl{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0 0 20px 0;
}

.alertControl div{
    width: 38%;
}